body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
}

.game-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}
  
.game-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title{
  text-align: center;
  font-weight: 700;
}

.rules-title {
  padding-bottom: 5px;
}

.text{
  text-align: justify;
  line-height: 120%;
}

.rules-text{
  white-space: pre-line;
}

.button {
  background-color: white;
  padding: 10px;
  border: #00000021 1px solid;
  border-radius: 5px;
  box-shadow: 0 0 10px #0000001a;
  cursor: pointer;
}

.button:hover{
  background-color: #f5f2f2;
}

.solutions-container{
  display: flex;
  gap: 15px;
}
  
.grid {
  display: grid;
  gap: 1px;
}

.grid-and-row-container {
  display: flex;
}
  
.cell {
  width: 30px;
  height: 30px;
  background-color: white;
  cursor: pointer;
  border: #000 2px solid;
}

.cell-clue {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: white;
  border: #c0bdbd 1px solid;
  align-items: center;
  justify-content: center;
}
  
.cell.filled {
  background-color: black;
}

.cell.crossed::after {
  content: "✖";
  font-size: 20px;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.clues {
  display: grid;
  gap: 1px;
}

.clue-container{
  display: flex;
}

.clue-container_column {
  flex-direction: column;
  justify-content: flex-end;
}

.clue-container_row {
  justify-content: flex-end;
}

.row-clues {
  flex-direction: column;
}